@page
@model MediiDeProgramarePROIECT.Pages.Reservations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.ClientID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Table)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.TableID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.ReservationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.ReservationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.ReservationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.ReservationTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.ReservationDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.ReservationDuration)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reservation?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
