@page
@model MediiDeProgramarePROIECT.Pages.Tables.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Tables</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Table[0].Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table[0].Waiter.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table[0].Zone.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Table) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Waiter.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zone.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
